@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
html {
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
html ::-webkit-scrollbar-thumb {
  background: #DB8876;
  border-radius: 5px;
}
html ::-webkit-scrollbar-thumb:hover, html ::-webkit-scrollbar-thumb:active {
  background: #D3573C;
}

main {
  margin-top: 0.3em;
  margin-bottom: 5em;
}
main > p {
  position: absolute;
  width: 99%;
  background: white;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  transition: all 0.4s;
}
main > p > img {
  margin-top: 80px;
  width: 180px;
  height: fit-content;
}
main > noscript {
  position: absolute;
  top: 420px;
  width: 99%;
  display: flex;
  justify-content: center;
  color: #901C1C;
  font-family: "DM Sans";
  font-size: 1.25em;
  font-weight: 600;
}

header {
  width: 97%;
  margin-top: 1.9em;
  margin-left: auto;
}

main > section:nth-of-type(1) {
  opacity: 0;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  font-family: "DM Sans";
  transition: all 0.4s;
}
main > section:nth-of-type(1) > div:nth-of-type(1) > h1 {
  color: #D3573C;
  font-size: 2.15em;
  font-weight: normal;
  margin-top: 0.5em;
  width: 70%;
}
main > section:nth-of-type(1) > div:nth-of-type(1) > .location {
  color: #901C1C;
  font-size: 0.75em;
  font-weight: 400;
  margin-top: -2.7em;
}
main > section:nth-of-type(1) > div:nth-of-type(1) > .tagline {
  font-size: 0.72em;
  font-weight: 400;
  margin-top: -0.8em;
  margin-bottom: 0.2em;
  color: #757575;
}
main > section:nth-of-type(1) > div:nth-of-type(1) > .tag {
  font-family: "DM Sans";
  color: #901C1C;
  display: inline-block;
  font-weight: 600;
  font-size: 0.75em;
  border: 0.5px solid #C4C4C4;
  border-radius: 30px;
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 0.7em;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 0.3em;
}
main > section:nth-of-type(1) > div:nth-of-type(1) > .tag:hover, main > section:nth-of-type(1) > div:nth-of-type(1) > .tag:focus, main > section:nth-of-type(1) > div:nth-of-type(1) > .tag:active {
  color: white;
  background-color: #901C1C;
}
main > section:nth-of-type(1) > div:nth-of-type(2) {
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 5%;
}
main > section:nth-of-type(1) > div:nth-of-type(2) > #contact {
  color: white;
  background: #901C1C;
  border: none;
  border-radius: 4px;
  font-size: 0.99em;
  padding: 4px;
  font-family: "DM Sans";
  width: 9.25em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s;
}
main > section:nth-of-type(1) > div:nth-of-type(2) > #contact:hover, main > section:nth-of-type(1) > div:nth-of-type(2) > #contact:focus, main > section:nth-of-type(1) > div:nth-of-type(2) > #contact:active {
  color: black;
  background-color: #DB8876;
}
main > section:nth-of-type(1) > p > img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 0px 4px 10px -1px #0000003d;
  transition: all 1s;
  object-fit: cover;
  font-family: "object-fit: cover;";
  position: absolute;
  top: 5.15em;
  right: 5%;
  width: 83px;
  height: 83px;
  top: 5.15em;
  right: 6%;
}
main > section:nth-of-type(1) > p > img:hover, main > section:nth-of-type(1) > p > img:focus, main > section:nth-of-type(1) > p > img:active {
  filter: brightness(0.8);
}
main > section:nth-of-type(1) > p > img:hover, main > section:nth-of-type(1) > p > img:focus, main > section:nth-of-type(1) > p > img:active {
  filter: none;
}
main > #divTrie {
  display: none;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  margin-top: 1.5em;
  margin-bottom: 2em;
  font-family: "DM Sans";
  font-weight: 600;
  font-size: 0.85em;
}
main > #divTrie > span {
  margin-right: 1.65em;
}
main > #divTrie > div {
  background: #901C1C;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  margin-top: -0.9em;
  width: 105px;
  height: auto;
  border: 7.5px solid #901C1C;
  border-left: 11px solid #901C1C;
  border-right: 11px solid #901C1C;
  border-radius: 3px;
  z-index: 1;
  transition: all 0.6s;
  cursor: pointer;
}
main > #divTrie > div > em {
  transform: rotate(180deg);
  font-size: 0.9em;
  color: white;
  transition: all 0.5s;
  position: absolute;
  margin-top: 0.9em;
  margin-right: 0.3em;
  cursor: pointer;
}
main > #divTrie > div > button {
  background: #901C1C;
  text-align: left;
  color: white;
  align-self: end;
  font-family: "DM Sans";
  border: none;
  padding: 11px;
  font-size: 13px;
  margin-left: -5px;
  cursor: pointer;
  transition: all 0.4s;
}
main > #divTrie > div > button:nth-of-type(1) {
  margin-top: -3px;
  margin-bottom: -4px;
}
main > #divTrie > div > button:nth-of-type(2) {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: none;
  width: 108%;
}
main > #divTrie > div > button:nth-of-type(2):hover, main > #divTrie > div > button:nth-of-type(2):focus, main > #divTrie > div > button:nth-of-type(2):active {
  background: #831a1a;
}
main > #divTrie > div > button:nth-of-type(3) {
  margin-bottom: -3px;
  display: none;
  width: 108%;
}
main > #divTrie > div > button:nth-of-type(3):hover, main > #divTrie > div > button:nth-of-type(3):focus, main > #divTrie > div > button:nth-of-type(3):active {
  background: #831a1a;
}
main > section:nth-of-type(2) {
  opacity: 0;
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  font-family: "DM Sans";
  transition: all 0.4s;
}
main > section:nth-of-type(2) > article {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -1.2em;
  color: #901C1C;
  width: 286px;
  margin-left: auto;
  margin-right: auto;
}
main > section:nth-of-type(2) > article > p > img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 5px;
  margin-bottom: -1.6em;
  cursor: pointer;
  transition: all 0.4s;
}
main > section:nth-of-type(2) > article > p > img:hover, main > section:nth-of-type(2) > article > p > img:focus, main > section:nth-of-type(2) > article > p > img:active {
  filter: brightness(0.8);
}
main > section:nth-of-type(2) > article > .name {
  font-size: 0.8em;
  font-weight: 400;
  flex: auto;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main > section:nth-of-type(2) > article > .price {
  font-size: 0.72em;
  font-weight: 600;
  margin-right: 15px;
}
main > section:nth-of-type(2) > article > .likes {
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
}
main > section:nth-of-type(2) > article > .likes:hover, main > section:nth-of-type(2) > article > .likes:focus, main > section:nth-of-type(2) > article > .likes:active {
  filter: brightness(0.7);
}
main > section:nth-of-type(2) > aside {
  position: fixed;
  right: 27px;
  bottom: 0px;
  width: 325px;
  height: 48px;
  border-radius: 5px 5px 0px 0px;
  background: #DB8876;
  font-size: 1.2em;
  font-family: "DM Sans";
  font-weight: 600;
  padding-top: 3px;
  display: none;
  align-items: center;
  justify-content: space-around;
}
main > #lightbox {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: #ffffffb8;
  opacity: 0;
  z-index: 3;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: all 0.5s;
}
main > #lightbox > div {
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  background: white;
}
main > #lightbox > div > .closeLightbox {
  color: #901C1C;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 1.7em;
  align-self: flex-end;
  margin-right: 2.5%;
  margin-bottom: -40px;
  margin-top: 18px;
}
main > #lightbox > div > .closeLightbox:hover {
  color: #D3573C;
}
main > #lightbox > div > .previousLightbox {
  color: #901C1C;
  font-size: 1.7em;
  position: absolute;
  left: 3.5%;
  cursor: pointer;
  transform: rotate(270deg);
  transition: all 0.5s;
}
main > #lightbox > div > .previousLightbox:hover {
  color: #D3573C;
}
main > #lightbox > div > .nextLightbox {
  color: #901C1C;
  font-size: 1.7em;
  position: absolute;
  right: 3.5%;
  cursor: pointer;
  transform: rotate(-270deg);
  transition: all 0.5s;
}
main > #lightbox > div > .nextLightbox:hover {
  color: #D3573C;
}
main > #lightbox > div > #pMedia > .media {
  max-width: 76%;
  max-height: 708px;
  border-radius: 5px;
}
main > #lightbox > div > #pMedia > .mediaVideo {
  display: none;
  max-width: 76%;
  max-height: 708px;
  border-radius: 5px;
}
main > #lightbox > div > .nameMedia {
  color: #901C1C;
  font-size: 1.15em;
  font-family: "DM Sans";
  font-weight: 500;
  text-align: left;
  width: 86%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0em;
}

@media screen and (min-width: 768px) {
  main > section:nth-of-type(1) {
    background: #FAFAFA;
    padding: 25px;
    padding-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
  }
  main > section:nth-of-type(1) > div:nth-of-type(1) > h1 {
    width: auto;
    margin-right: 50px;
  }
  main > section:nth-of-type(1) > div:nth-of-type(2) {
    width: auto;
    position: initial;
    top: initial;
    margin-left: initial;
    margin-left: initial;
    margin-top: 1.2em;
  }
  main > section:nth-of-type(1) > div:nth-of-type(2) > #contact {
    padding: initial;
    width: 8em;
    height: 2.5em;
    font-size: 0.95em;
  }
  main > section:nth-of-type(1) > p > img {
    top: 8.5em;
  }
  main > #divTrie {
    display: block;
  }
  main > #divTrie > button {
    font-size: 14.5px;
  }
  main > section:nth-of-type(2) {
    width: 96%;
    justify-content: space-around;
  }
  main > section:nth-of-type(2) > article {
    width: 350px;
    margin-left: initial;
    margin-right: initial;
    margin-bottom: -0.7em;
  }
  main > section:nth-of-type(2) > article > p > img {
    height: 300px;
  }
  main > section:nth-of-type(2) > article > .name, main > section:nth-of-type(2) > article .price, main > section:nth-of-type(2) > article .likes {
    font-size: 1.2em;
  }
  main > section:nth-of-type(2) > aside {
    display: flex;
  }
  main > #lightbox > div > .closeLightbox {
    font-size: 2em;
    right: 3%;
  }
  main > #lightbox > div > .previousLightbox {
    font-size: 2em;
    left: 4%;
  }
  main > #lightbox > div > .nextLightbox {
    font-size: 2em;
    right: 4%;
  }
  main > #lightbox > div > #pMedia > .media {
    max-width: 76%;
    max-height: 720px;
  }
  main > #lightbox > div > #pMedia > .mediaVideo {
    display: none;
    max-width: 76%;
    max-height: 720px;
  }
}
@media screen and (min-width: 1095px) {
  header {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.4em;
  }

  main > section:nth-of-type(1) {
    width: 87%;
    padding: 35px;
    padding-top: 23px;
  }
  main > section:nth-of-type(1) > div:nth-of-type(1) > h1 {
    font-size: 2.7em;
  }
  main > section:nth-of-type(1) > div:nth-of-type(1) > .location {
    font-size: 1.08em;
    margin-top: -2em;
  }
  main > section:nth-of-type(1) > div:nth-of-type(1) > .tagline {
    font-size: 0.8em;
    margin-top: -0.3em;
    margin-bottom: 1em;
  }
  main > section:nth-of-type(1) > div:nth-of-type(1) > .tag {
    font-size: 0.8em;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
  }
  main > section:nth-of-type(1) > div:nth-of-type(2) {
    margin-top: 1.55em;
  }
  main > section:nth-of-type(1) > div:nth-of-type(2) > #contact {
    height: 3em;
    font-size: 1em;
  }
  main > section:nth-of-type(1) > p > img {
    width: 150px;
    height: 150px;
    top: 9.85em;
    right: 8%;
  }
  main > #divTrie {
    width: 93%;
    font-size: 1.05em;
  }
  main > #divTrie > div > em {
    font-size: 0.85em;
    margin-top: 0.7em;
  }
  main > #divTrie > div > button {
    font-size: 14px;
  }
  main > section:nth-of-type(2) {
    width: 93.5%;
    justify-content: space-between;
  }
  main > section:nth-of-type(2) > article {
    margin-left: 1em;
    margin-right: 1em;
  }
  main > #lightbox > div {
    width: 1056px;
  }
  main > #lightbox > div > .closeLightbox {
    margin-left: 989px;
    right: initial;
  }
  main > #lightbox > div > .previousLightbox {
    margin-right: 989px;
    left: initial;
  }
  main > #lightbox > div > .nextLightbox {
    margin-left: 989px;
    right: initial;
  }
  main > #lightbox > div > #pMedia > .media {
    max-width: 910px;
    max-height: 550px;
  }
  main > #lightbox > div > #pMedia > .mediaVideo {
    display: none;
    max-width: 910px;
    max-height: 550px;
  }
}
@media screen and (min-width: 2000px) {
  main > section:nth-of-type(1) {
    width: 1300px;
    padding-bottom: 19px;
  }
  main > section:nth-of-type(1) > p > img {
    margin-left: 587px;
    position: initial;
  }
  main > #divTrie {
    width: 1393px;
    font-size: 1.2em;
  }
  main > #divTrie > div > em {
    font-size: 0.7em;
    margin-top: 0.8em;
  }
  main > #divTrie > button {
    font-size: 15px;
  }
  main > section:nth-of-type(2) {
    width: 1396px;
  }
}

/*# sourceMappingURL=photographer.css.map */
